body {   
     background-color: lightgrey;
}

* {
    font-family: courier;
}

input[type=button] {
	background-color: white;
	width: 150px;
}

input[type=number], input[type=text]  {
	width: 350px;
}

textarea {
	display: none;
}
