body
{
 background-color: #3c3c3c;
 color: white;
 scrollbar-face-color: #3c3c3c;
 scrollbar-arrow-color: white;
 scrollbar-track-color: #3c3c3c;
}

textarea:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder
{
 color: lightgrey;
}

textarea
{
 background-color: #3c3c3c;
 color: white;
 outline: none;
 resize: none;
}

input[type=text], input[type=button], input[type=number]
{
 background-color: #3c3c3c;
 color: white;
 width: 200px;
 border: 1px solid lightgrey;
}